<footer>
    <div class="footer-content">
        <ul class="socials">
            <li><a href="https://www.facebook.com/nandan.abhijeet.1/" target="_blank"><i class="fa fa-facebook"></i>
                </a></li>
            <li><a href="mailto:abhijeetnandan02@gmail.com" target="_blank"><i class="fa fa-google-plus"></i> </a></li>
            <li><a href="https://www.linkedin.com/in/abhijeet-nandan-0755a31b2/" target="_blank"><i
                        class="fa fa-linkedin-square"></i> </a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p class="cursive"><strong>GO GREEN</strong></p>
        <p>copyright &copy;2022 Designed By NANDAN</p>
    </div>
</footer>